@font-face {
    font-family: "Quicksand";
    font-display: optional;
    src: url("../svgs/Quicksand-VariableFont_wght.woff2") format("woff2");
}

p {
    margin: 0;
}

body {
    margin: 0;
    background-color: #EEEEEE;
    color: #222222;
}

header {
    height: 56px;
    width: 100vw;
    background: url("../images/header\ pattern\ image.png");
    display: flex;
    color: #3FD28B;
    font-size: 14px;
    font-weight: 600;
}



.quantum-head-logo {
    padding: 10px 24px;
    width: 134px;
    height: 36px;
}

.mar-left {
    margin-left: 192px;
    padding-top: 19px;
    width: 100%;
}

.mar-left>span {
    margin-top: 2px;
    cursor: pointer;
}

.alert-svg {
    width: 21px;
    height: 24px;
    margin-top: -4px;
    cursor: pointer;
}



.announcements-svg {
    width: 20px;
    height: 20px;
    margin-top: -3px;
    cursor: pointer;
}

.profile-photo {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: -8px;
    border: 1px solid #3FD28B;
    object-fit: cover;
}

.activate {
    color: #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
}

.dropdown-menu-announcemnet {
    position: absolute;
    top: 56px;
    right: 137px;
    display: flex;
    flex-direction: column;
    height: 490px;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

.announcemnet-container {
    display: flex;
    flex-direction: column;
    color: #222222;
    width: 315px;
    overflow-y: auto;
    z-index: 300;
}



.announcemnet {
    font-size: 12px;
    line-height: 15px;
    height: fit-content;
    padding: 16px;
    background-color: #FFFFEE;
    border-bottom: 1px solid #2E2E2E;
}

.class-course-color {
    margin-bottom: 8px;
    color: #6E6E6E;
    font-size: 12px;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 16px;
}

.attach-file-svg {
    width: 15px;
    height: 18px;
}



/* Scroll bar */
.alert-container::-webkit-scrollbar,
.announcemnet-container::-webkit-scrollbar {
    width: 4px;
}

.alert-container::-webkit-scrollbar-thumb,
.announcemnet-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

.alert-container::-webkit-scrollbar-track,
.announcemnet-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.announcemnet p {
    margin: 8px 0px;
    font-size: 14px;
    line-height: 18px;
}



.date-file {
    font-size: 12px;
    line-height: 18px;
    color: #6E6E6E;
    display: flex;
    justify-content: space-between;
}

.date-file p {
    margin: 0;
}

.announcement-footer {
    /* width: 315px; */
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    /* padding: 15px 37px; */
    color: #1F7A54;
    z-index: 100;
    font-size: 14px;
    line-height: 18px;
}

.vertical-line {
    width: 0.5px;
    height: 5px;
    background-color: #6E6E6E;

}

.announcement-footer span {
    padding: 15px 0px;
}

.color-grey {
    color: #6E6E6E;
}

.dropdown-menu-alert {
    position: absolute;
    top: 56px;
    right: 188px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 315px;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

/* Alert dropdown CSS */
.alert-container {
    display: flex;
    flex-direction: column;
    color: #222222;
    overflow-y: auto;
    z-index: 300;
}

.alert {
    font-size: 12px;
    line-height: 15px;
    height: 91px;
    padding: 16px;
    background-color: #FFFFEE;
    border-bottom: 1px solid #2E2E2E;
}

.display-flex p {
    font-size: 14px;
    line-height: 18px;
    width: 90%;
}

.alert>p {
    margin: 8px 0px;
    font-size: 12px;
    line-height: 16px;
}

.alert>span {
    float: right;
    font-size: 12px;
    line-height: 17px;
}

.alert-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F7A54;
    text-align: center;
    background-color: #FFFFFF;
    height: 64px;
    z-index: 200;
}

.alert-footer span {
    padding: 15px 0px;
}

.dropdown-menu {
    display: flex;

}

/* Main Content */

main {
    width: 80%;
    margin: auto;
    margin-top: 24px;
}


.select-from-class-course {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #8DDC97;
    border-radius: 2px;
}

.select-from-class-course>div {
    width: 47%;
    height: 64px;
    font-size: 16px;
}

.active-bor-bottom {
    border-bottom: 4px solid #222222;
}

.simple-flex div {
    padding: 18px 16px;
}

.course-svg {
    height: 32px;
    width: 32px;
    padding: 18px 16px;
}

.class-svg {
    height: 29px;
    width: 32px;
    padding: 18px 16px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-16 {
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    font-weight: 550;
    margin-left: -20px;
    margin-top: 3px;
}

.child {
    position: relative;
    height: 16px;
    width: 16px;
}

.notification-count {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #2A7FF3;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    top: -33px;
    right: -10px;
}

.announcement-count {
    top: -32px;
    right: -13px;
}

.profile-first-character {
    font-size: 8px;
    top: -42px;
    right: -21px;
}


.sort-by-selector {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.sort-by-selector>:nth-child(n) {
    margin: 0px 6px;
}

.sort-by-selector select {
    width: 172px;
    background: transparent;
    border: none;
    padding-bottom: 6px;
    border-bottom: 1px solid #000000;
    font-weight: 550;
}

.sort-by-selector p {
    color: #686868;
    font-size: 12px;
    line-height: 16px;
}

#sort-svg {
    margin-left: 24px;
    margin-right: 0;
}

.result-para {
    color: #686868;
    font-size: 12px;
    line-height: 14.5px;
}

.card-countainer {
    display: grid;
    margin: 16px 0;
    grid-template-columns: repeat(auto-fit, minmax(476px, 476px));
    justify-content: center;
    grid-gap: 24px;
}

.card-countainer>div {
    width: 476px;
    height: 246px;
    background-color: #FFFFFF;
    border-radius: 2px;
}

.content-countainer {
    margin: 25px 16px 16px 24px;
    display: flex;
}

.m-left-16 {
    margin-left: 16px;
}

/* Flex clases */


.flex {
    display: flex;
    justify-content: space-around;
}

.simple-flex {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.flex-end {
    display: flex;
    /* justify-content: space-between; */
}

.flex-end span {
    width: 30%;
    height: 20px;

}

.flex-end img {
    width: 20px;
    height: 24px;
    margin-left: 174px;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
}

.course-container>div {
    width: 476px;
    height: 246px;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
}

.couse-card-content {
    margin: 24px 16px 16px 24px;
    height: 157px;
    display: flex;
}

.content {
    width: 100%;
    margin-left: 16px;
}

.subject-name {
    display: flex;
    justify-content: space-between;
}

.subject-name div {
    width: 20px;
    height: 24px;
    float: right;
}

.subject-name p {
    margin: 0;
    width: 80%;
}


.subject-details span {
    margin-right: 9px;
    font-size: 12px;
    line-height: 16px;
    color: #666666;

}

.color-green {
    color: #1F7A54 !important;
    margin-left: -10px;
}

.course-overview {
    font-size: 12px;
    line-height: 16px;
    height: 15px;
    margin-top: 7px;
}


.course-overview>:nth-child(2n+1) {
    font-weight: 550;
    color: #222222;
}

.course-overview>:nth-child(2n) {
    color: #666666;
    margin-right: 6px;
}

.teacher-name select {
    margin: 0;
    margin-top: 16px;
    width: 100%;
    border: none;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #666666;
    padding-bottom: 5px;
    font-weight: 550;
}

.class-details {
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}

.flex-display {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}

.expired-tag {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    height: 12px;
    width: 40px;
    color: #D80000;
    font-size: 10px;
    text-align: center;
    background-color: #FFE4E6;
    padding: 4px 7px 2px 5px;
}

.margin-top-7 {
    margin-top: 7px;
}

.display-none {
    display: none;
    cursor: pointer;
}

.not-favorite {
    filter: grayscale(100%);
}

.opacity {
    opacity: 0.4;
}

/* Footer style */
.m-top {
    margin: auto;
    margin-top: 32px;
    text-align: center;
}

.m-top a {
    text-decoration: none;
    color: #1F7A54;
    font-weight: 550;
    font-size: 14px;
    line-height: 18px;
}

.b-left {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #0000001F;
}

.footer-main {
    margin-top: 16px;
    padding: 8px 0;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #E0E1E1;
}

.footer-image {
    width: 90px;
    height: 24px;
}

.footer-content {
    color: #616161;
    font-size: 16px;
}

.vertical-line-16 {
    width: 0px;
    height: 24px;
    border-left: 1px solid #0000001F;
    margin: 0 16px;
}

.vertical-line-8 {
    width: 0px;
    height: 18px;
    border-left: 1px solid #0000001F;
    margin: 0 8px;
}

@media screen and (max-width: 768px) {
    .mar-left span {
        display: none;
    }

    .display-none {
        display: flex;
        margin-top: -10px;
        margin-left: -80px;
        width: 20px;
        height: 32px;
    }

    .notification-icon {
        margin-left: -60px;
    }
}

.is-checked {
    background-color: #FFFFFF;
}

/* Hamburger Style */
.hamburger-dropdown-menu {
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: 58px;
    right: 51px;
    width: 280px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    text-transform: uppercase;
}

.dropdown-sub:checked+label,
.dropdown-sub:not(:checked)+label,
.hamburger-dropdown-menu a {
    position: relative;
    color: #1F7A54;
    transition: all 200ms linear;
    font-weight: 500;
    font-size: 14px;
    height: 48px;
    padding: 0px 18px 0px 16px;
    text-align: left;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown-sub:checked+label {
    background-color: #F3F3F3;
}

.dropdown-sub:not(:checked)+label .uil {
    transition: transform 200ms linear;
}

.dropdown-sub:checked+label .uil {
    transform: rotate(180deg);
    transition: transform 200ms linear;
}

.dropdown-sub:checked+label:hover,
.dropdown-sub:not(:checked)+label:hover,
.hamburger-dropdown-menu a:hover {
    background-color: #F3F3F3;
}

.section-dropdown-sub {
    position: relative;
    display: block;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 200ms linear;
}

.section-dropdown-sub a {
    padding-left: 32px;
}

.dsc1:checked~.sds1,
.dsc2:checked~.sds2,
.dsc3:checked~.sds3,
.dsc4:checked~.sds4 {
    pointer-events: auto;
    opacity: 1;
    max-height: 999px;
}

.hamburger-dropdown-menu [type=checkbox]:checked,
.hamburger-dropdown-menu [type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
}

.alert-svg-hover:hover .dropdown-menu-alert {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.alert-svg-hover .dropdown-menu-alert {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;

}

.notification-icon.announcements-svg-hover:hover .dropdown-menu-announcemnet {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.notification-icon.announcements-svg-hover .dropdown-menu-announcemnet {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.hamburger-svg-hover:hover .hamburger-dropdown-menu {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.hamburger-svg-hover .hamburger-dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}